*.iml
*.apk
*.aar
*.ap_
*.aab
*.dex
.gradle
.DS_Store
.externalNativeBuild
.idea/
/local.properties
/build
/captures
app/keys/*
app/dev/*
app/prod/*
app/staging/*
/app/keys/*
/app/dev/*
/app/prod/*
/app/staging/*
